<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            <%= chart.title %>
        </div>
        <div class="card-body">
            <canvas id="<%= chart.id %>" class="data-chart" width="100%" height="40"></canvas>
        </div>
    </div>
</div>