<div class="sb-sidenav-menu-heading">Lighthouse Reports</div>
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#lighthouse-report"
    aria-expanded="false" aria-controls="lighthouse-report">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Reports
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="lighthouse-report" aria-labelledby="lighthouse-report" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <% model.forEach((entry)=>{ %>
            <a target="_blank" class="nav-link" href="<%- entry.url %>">Report-<%= entry.id %>
            </a>
            <% }); %>
    </nav>
</div>