<% var currDate=new Date(); currDate=currDate.toLocaleDateString().replace(/\//g, '-' );
    Object.keys(table).forEach((key, index)=>{ %>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Page:
            <%= key %>
                <%= currDate %>
        </div>
        <div class="card-body">
            <table id="datatablesSimple-<%= index %>">
                <thead>
                    <tr>
                        <th scope="col" data-sortable="true">#</th>
                        <th scope="col">URL</th>
                        <th scope="col" data-sortable="true">Type</th>
                        <th scope="col" data-sortable="true">Used Bytes</th>
                        <th scope="col" data-sortable="true">Total Bytes</th>
                        <th scope="col" data-sortable="true">Unused %</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col" data-sortable="true">#</th>
                        <th scope="col">URL</th>
                        <th scope="col" data-sortable="true">Type</th>
                        <th scope="col" data-sortable="true">Used Bytes</th>
                        <th scope="col" data-sortable="true">Total Bytes</th>
                        <th scope="col" data-sortable="true">Unused %</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% for(var i=1; i< table[key].length; i++) { %>
                        <tr>
                            <th scope="row">
                                <%= i %>
                            </th>
                            <td class="">
                                <%= table[key][i].url %>
                            </td>
                            <td class="">
                                <%= table[key][i].type %>
                            </td>
                            <td class="">
                                <%= table[key][i].usedBytes %>
                            </td>
                            <td class="">
                                <%= table[key][i].totalBytes %>
                            </td>
                            <td class="">
                                <%= table[key][i].percentUnused %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

    </div>
    <% }) %>