<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="../../client/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <title>
        Tumi JS/CSS Audit Report: <%= Date() %>
    </title>
    <script>
        window.data = '<%- JSON.stringify(model) %>';
    </script>
</head>
<% var currDate=new Date(); currDate=currDate.toLocaleDateString().replace(/\//g, '-' ); %>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">
                <img src="../../client/img/tumi.png" />
            </a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                    class="fas fa-bars"></i></button>
            <!-- Navbar Search-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
            </ul> -->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">US</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Reports</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Home
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link"
                                        href="../../reports/<%= currDate %>/auditRport-Home-<%= currDate %>.html">JS/CSS
                                        Report</a>
                                    <a class="nav-link" target="_blank"
                                        href="../../reports/tracing/<%= currDate %>/Home.JSON">
                                        Rendering Strip + Performace JSON
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                CLP
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                                data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link"
                                        href="../../reports/<%= currDate %>/auditRport-CLP-<%= currDate %>.html">JS/CSS
                                        Report</a>
                                    <a class="nav-link" target="_blank"
                                        href="../../reports/tracing/<%= currDate %>/Collection.JSON">
                                        Rendering Strip + Performace JSON
                                    </a>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                        data-bs-target="#pagesCollapseError" aria-expanded="false"
                                        aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                        data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Search
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link"
                                        href="../../reports/<%= currDate %>/auditRport-Search-<%= currDate %>.html">JS/CSS
                                        Report</a>
                                    <a class="nav-link" target="_blank"
                                        href="../../reports/tracing/<%= currDate %>/Search.JSON">
                                        Rendering Strip + Performace JSON
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                PDP
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link"
                                        href="../../reports/<%= currDate %>/auditRport-PDP-<%= currDate %>.html">JS/CSS
                                        Report</a>
                                    <a class="nav-link" target="_blank"
                                        href="../../reports/tracing/<%= currDate %>/Product.JSON">
                                        Rendering Strip + Performace JSON
                                    </a>
                                </nav>

                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Static Navigation</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Static Navigation</li>
                        </ol>
                        <!-- <div class="card mb-4">
                        <div class="card-body">
                            <h1>Tumi JS/CSS Audit Report: <%= Date() %>
                            </h1>
                        </div>
                        <% Object.keys(model).forEach((key)=>{ %>
                            <div class="row">
                                <h2>
                                    Page: <%= key %>
                                </h2>
                                <table style="table-layout:fixed; word-wrap: break-word;"
                                    class="table table-striped table-dark" data-toggle="table"
                                    data-sort-class="table-active" data-sortable="true" data-search="true"
                                    data-trim-on-search="false">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-sortable="true">#</th>
                                            <th scope="col">URL</th>
                                            <th scope="col" data-sortable="true">Type</th>
                                            <th scope="col" data-sortable="true">Used Bytes</th>
                                            <th scope="col" data-sortable="true">Total Bytes</th>
                                            <th scope="col" data-sortable="true">Unused %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=1; i< model[key].length; i++) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= i %>
                                                </th>
                                                <td class="">
                                                    <%= model[key][i].url %>
                                                </td>
                                                <td class="">
                                                    <%= model[key][i].type %>
                                                </td>
                                                <td class="">
                                                    <%= model[key][i].usedBytes %>
                                                </td>
                                                <td class="">
                                                    <%= model[key][i].totalBytes %>
                                                </td>
                                                <td class="">
                                                    <%= model[key][i].percentUnused %>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <% }) %>
                    </div> -->

                        <% Object.keys(model).forEach((key, index)=>{ %>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Page:
                                    <%= key %>
                                        <%= currDate %>
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple" class="datatablesSimple"
                                        class="datatablesSimple datatablesSimple-<%= index %>">
                                        <thead>
                                            <tr>
                                                <th scope="col" data-sortable="true">#</th>
                                                <th scope="col">URL</th>
                                                <th scope="col" data-sortable="true">Type</th>
                                                <th scope="col" data-sortable="true">Used Bytes</th>
                                                <th scope="col" data-sortable="true">Total Bytes</th>
                                                <th scope="col" data-sortable="true">Unused %</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th scope="col" data-sortable="true">#</th>
                                                <th scope="col">URL</th>
                                                <th scope="col" data-sortable="true">Type</th>
                                                <th scope="col" data-sortable="true">Used Bytes</th>
                                                <th scope="col" data-sortable="true">Total Bytes</th>
                                                <th scope="col" data-sortable="true">Unused %</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% for(var i=1; i< model[key].length; i++) { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= i %>
                                                    </th>
                                                    <td class="">
                                                        <%= model[key][i].url %>
                                                    </td>
                                                    <td class="">
                                                        <%= model[key][i].type %>
                                                    </td>
                                                    <td class="">
                                                        <%= model[key][i].usedBytes %>
                                                    </td>
                                                    <td class="">
                                                        <%= model[key][i].totalBytes %>
                                                    </td>
                                                    <td class="">
                                                        <%= model[key][i].percentUnused %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <% }) %>
                            </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
        <script src="../../client/js/scripts.js"></script>
        <script src="../../client/js/datatables-simple-demo.js"></script>
    </body>

</html>