<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="../client/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <title>
        Tumi JS/CSS Audit Report: <%= Date() %>
    </title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Tumi JS/CSS Audit Report: <%= Date() %>
            </h1>
        </div>
        <% Object.keys(model).forEach((key)=>{ %>
            <div class="row">
                <h2>
                    Page: <%= key %>
                </h2>
                <table style="table-layout:fixed; word-wrap: break-word;" class="table table-striped table-dark"
                    data-toggle="table" data-sort-class="table-active" data-sortable="true" data-search="true"
                    data-trim-on-search="false">
                    <thead>
                        <tr>
                            <th scope="col" data-sortable="true">#</th>
                            <th scope="col">URL</th>
                            <th scope="col" data-sortable="true">Type</th>
                            <th scope="col" data-sortable="true">Used Bytes</th>
                            <th scope="col" data-sortable="true">Total Bytes</th>
                            <th scope="col" data-sortable="true">Unused %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=1; i< model[key].length; i++) { %>
                            <tr>
                                <th scope="row">
                                    <%= i %>
                                </th>
                                <td class="">
                                    <%= model[key][i].url %>
                                </td>
                                <td class="">
                                    <%= model[key][i].type %>
                                </td>
                                <td class="">
                                    <%= model[key][i].usedBytes %>
                                </td>
                                <td class="">
                                    <%= model[key][i].totalBytes %>
                                </td>
                                <td class="">
                                    <%= model[key][i].percentUnused %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <% }) %>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
</body>

</html>